@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background: url("./assets/bg-login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e0e0e0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

.container-sidebar {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr repeat(3, 1fr);
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar nav nav nav"
        "sidebar main main main";
}

@media only screen and (max-width: 978px) {
    .container-sidebar {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "nav" "main";
    }
}