.main-vagas {
  background: url('../../assets/bg-login.png');
  background-size: cover;
  background-position: center;
}

.container-vagas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px;
}

.wrapper-vagas {
  max-width: 100%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
}

.row-vaga:hover {
  cursor: pointer;
}

.text-left {
  text-align: left;
  margin: 50px 0 0 20px;
}

.add-btn {
  margin-left: 10px;
}

.th-vaga {
  	text-align: center;
}

.row-vaga{
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  align-items: center;
  text-align: center;
  justify-content: center;
}

td {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 75px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}