.main-adm,
.main-reporting {
    background: url('../../assets/bg-login.png');
    background-size: cover;
    background-position: center;
}

.container-adm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .card-table {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.table {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
    flex: 1;
}

.th-adm {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.th-adm:not(:first-child) {
    text-align: center;
}

.td-adm {
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.adm-nav-link.active {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.adm-nav-link:not(.active) {
    background-color: rgba(255, 255, 255, .75);
    color: black;
}

.link-no-underline {
    color: inherit;
    text-decoration: none;
}

/*UPDATE FORMS*/

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-image {
    text-align: center;
    padding: 20px 0;
}

.header-image img {
    width: 150px;
}

.card-body {
    padding: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-group {
    margin-bottom: 20px;
}

.textarea-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.textarea-container label {
    margin-right: 10px;
}

.textarea-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 220px;
}

.btn {
    flex-grow: 1;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-outline-success {
    color: #28a745;
    border: 1px solid #28a745;
}

.btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.cancel-btn {
    margin-left: 10px;
}

.select-container {
    position: relative;
}

.select-container::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
    color: #777;
}

.select-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.status-bar {
    display: flex;
    align-items: center;
    height: 10px;
    width: 30px;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    margin-left: 95px;
    margin-top: 8px;
}

.status-ball {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #aaa;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.status-bar.active .status-ball {
    background-color: #2ecc71;
    transform: translateX(18px);
}

.status-bar.inactive .status-ball {
    background-color: #e74c3c;
    transform: translateX(0);
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}