main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
}

.main-container {
    padding: 20px 35px;
}

.main-title {
    display: flex;
    align-items: center;
}

.main-title>img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main-greeting>h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.main-greeting>p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 20px 0;
}

.card-hp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 5px 5px 13px #ededed -5px -5px 13px #fff;
}

.card-hp a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.card-hp a:hover {
    color: #35a4ba;
}


.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.charts-left,
.charts-right {
    padding: 25px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 5px 5px 13px #ededed -5px -5px 13px #fff;
}

.charts-left-title,
.charts-right-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts-left-title>div>h1,
.charts-right-title>div>h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.charts-left-title>div>p,
.charts-right-title>div>p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.charts-left-title>span {
    color: #fff;
    font-size: 20px;
    background: #ffc100;
    border-radius: 200px 0px 200px 0px;
    -moz-border-radius: 200px 0px 200px 0px;
    -webkit-boorder-radius: 200px 0px 200px 0px;
    border: 0px solid #000;
    padding: 15px;
}

.charts-right-title>span {
    color: #fff;
    font-size: 20px;
    background: #2e4a66;
    border-radius: 200px 0px 200px 0px;
    -moz-border-radius: 200px 0px 200px 0px;
    -webkit-boorder-radius: 200px 0px 200px 0px;
    border: 0px solid #000;
    padding: 15px;
}


@media only screen and (max-width: 855px) {
    .main-title>img {
        display: none;
    }

    .main-cards {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 0;
        padding: 0 10px;
    }
    
    .card-hp {
        flex-basis: calc(50% - 5px);
        height: 200px; 
        padding: 20px; 
    }
    
    .card-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
        justify-content: center;
    }
}