.status-bar {
    position: relative;
    border-radius: 10px;
    border: 1px solid #000;
    width: 50px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
}
  
.status-bar.active {
  background-color: #15ff00;
}

.status-bar.inactive {
  background-color: #ff0000;
}

.status-ball {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  transition: left 0.3s ease;
}

.status-bar.active .status-ball {
  left: 30px;
}

.status-bar.inactive .status-ball {
  left: 0;
}

.icon-div{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1877F2;
    border-radius: 5px;
    border: 1px solid #000;
    width: 140px;
}

.cargo-name {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  color: #000;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.ball-moving {
  transform: translateX(calc(100% - 20px));
}