.navbar {
    background: #fff;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
    width: calc(100vw - 335px);
}

.nav-icon {
    display: none;
}

.nav-icon>span {
    font-size: 26px;
    color: #a5aaad;
}

.navbar-left>a {
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}

.navbar-left .active-link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right>a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    text-decoration: none;
}

.navbar-right>a>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #a5aaad;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateZ(0) scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.navbar-right>a>span:hover {
    transform: translateZ(0) scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 984px) {
    .navbar-left {
        display: none;
    }

    .nav-icon {
        display: inline;
    }
}

@media only screen and (max-width: 978px) {
    .nav-icon {
        right: 0;
        display: inline;
    }
}

@media only screen and (max-width: 574px) {
    .navbar-right {
        display: none;
    }
}